@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
            width:900px;
            margin:60px auto;
            background:white;
            padding:40px;
            border-radius:10px;
        }

h1{
    text-align:center;
    color:#333;
    margin-bottom:40px;
}

.image-box{
    text-align:center;
    margin-bottom:30px;
}

.image-box img{
    max-width:500px;
    width:100%;
    border-radius:10px;
    border:1px solid #ddd;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:30px;
}

th{
    width:180px;
    background:#4CAF50;
    color:white;
    padding:15px;
}

td{
    padding:15px;
    border:1px solid #ddd;
}

.btn{
    text-align:center;
    margin-bottom:40px;
}

.btn button{
    width:120px;
    padding:10px;
    margin:0 8px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    color:white;
    font-size:15px;
    transition:.3s;
    background:#4CAF50;
    color:white;
}