@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
            width:1000px;
            margin:60px auto;
            background:white;
            padding:40px;
            border-radius:10px;
        }

h1{
    text-align:center;
    color:#333;
    margin-bottom:40px;
}

.top-menu{
    text-align:right;
    margin-bottom:20px;
}

.top-menu a{
    text-decoration:none;
    background:#4CAF50;
    color:white;
    padding:10px 18px;
    border-radius:6px;
    margin-left:10px;
    transition:.3s;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#4CAF50;
    color:white;
}

th,
td{
    padding:15px;
    border-bottom:1px solid #ddd;
    text-align:center;
}